/* Animacion y grandiente pagina CV */

.gradiente {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(to top, #F4C7AB, white);
}

.pruebaAnima {
    width: 200px;
    height: 200px;
    transform: translate(100px, 100px);
    background-color: #B2B8A3;
    animation-name: invis;
    animation-duration: 10s;
}

@keyframes invis {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}