.articulo--cv {
    background-color: #B2B8A3;
    color: #F4C7AB;
}

.articulo__titulo--mayus {
    text-transform: uppercase;
}

.artiulo__parrafo--italic {
    font-style: italic;
}

.articulo__subtitulo--italic {
    font-style: italic;
}