@import "mediaq";
@import "grid";
@import "animacion";
@import "BEM";
@import "colores";
@import "tamaño";
* {
    @include mg(0, 0);
    box-sizing: border-box;
}

body {
    background-color: $colfondo;
    font-family: 'Open Sans', sans-serif;
    h2 {
        color: $coltipo;
        font-family: 'Oswald', sans-serif;
    }
    p,
    li {
        color: #8e9186;
    }
    a,
    a:visited {
        text-decoration: none;
        color: $coltipo;
    }
    article {
        @include mg(20px, 20px);
    }
    section {
        margin: 20px;
    }
}

header {
    margin: 10px;
    nav {
        display: inline-block;
        li {
            display: inline-block;
            text-align: center;
            color: #F4C7AB;
            padding: 10px;
        }
        ul {
            list-style: none;
            float: right;
        }
        .webLogo {
            display: inline;
            width: 40%;
        }
        .navBar {
            width: 40%;
            display: inline;
        }
    }
}

form div {
    margin: 5px;
}


/* Aplicacion de Flex en secciones del Index */

#contacto {
    display: flex;
    flex-flow: row nowrap;
    height: 300px;
    justify-content: center;
    .datosContacto {
        flex-basis: 400px;
    }
    .formContacto {
        flex-basis: 400px;
    }
}

#inicioFoto {
    @include tamaño(100%, 500px);
    align-content: center;
}

#acercaDe {
    display: flex;
    flex-flow: row nowrap;
    height: 400px;
    justify-content: center;
    #fotoPres {
        flex-basis: 50%;
        align-content: center;
    }
    #infoArtista {
        flex-basis: 50%;
        align-content: center;
    }
}